---
import styles from './styles/spotify.module.css';
import song from "../../../assets/love-song.png";
import { Image } from 'astro:assets';
import './styles/spotify.css';
---

<section class={`sidebar ${styles.spotify}`}>
    <div class="x sombra">
        <Image src={song} alt="Song" width={50} height={50} loading={'eager'} />
    </div>
    <div>
        <iframe 
        src="https://open.spotify.com/embed/playlist/5mfddh3OYtWczRWaTbYOh7?utm_source=generator" 
        title="Playlist Valentine's Day"
        width="100%" 
        height="352"
        allowfullscreen="" 
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
        loading="eager"></iframe>
    </div>
</section>

<script  src="./js/spotify.js"></script>