---
import styles from "./styles/loading.module.css";
---

<div class={styles.loading}>
  <div class={styles.progress} style="--line:98%" aria-label="Barra de progreso"></div>
   <h2>Loading love...</h2>
</div>