---
import styles from './footer.module.css'
---

<footer id="footerr" class={styles.footer}>
    Made with ❤️ by <a href="https://www.linkedin.com/in/melissahellrigldeveloper/" target="_blank">Melissa Hellrigl</a> </br> for <a href="https://www.linkedin.com/in/mertein/" target="_blank">Martin Aguayo</a>
</footer>

<script src="../Home/organisms/js/spotify.js"></script>