.header{
    position: sticky;
    top: 0;
    z-index: 1;
    width: fit-content;
    height: 5rem;
    background-color: transparent;
    opacity: 0;
        animation: finish 3s ease-in forwards;
        border-bottom: 1px solid #A33A62;
        background: linear-gradient(0deg, rgba(163,58,98,0.6671043417366946) 0%, rgba(163,58,98,0) 41%);

}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem 0;
    height: 100%;

}
.header nav a{
    cursor: pointer;
    transition: all 0.5s ease;
}
.message:hover{
    animation: message 1.5s ease-in forwards;
}
.photos:hover{
    transform: scale(1.08) rotate(10deg);
}

@keyframes message {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale(0.1) translate(30px, -25px) rotate(-20deg);
    }
    70%{
        opacity: 0;
        transform: scale(1) translate(-100px, 50px) rotate(45deg);
    }
    90% {
        opacity: 1;
        transform: scale(1) translate(10px, 0) rotate(0deg);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes finish {
    50%, 100% {
        opacity: 1;
    }
}

@media (max-width: 600px){
    .header nav{
        padding: 1.5rem 1rem 0;
    }
}